version=$(ls ~/Library/ApplicationSupport/iTerm2 | perl -ane 'push @v, $& if /(?<=iterm2env-)\d+\.\d+\.\d+/; END { @v = sort @v; print pop @v }')
ver=$(echo -n "$version" | perl -pe 's/\.\d+$//')
iterm2_lib=$HOME/Library/ApplicationSupport/iTerm2/iterm2env-$version/versions/$version/lib/python$ver/site-packages
path_add PYTHONPATH $iterm2_lib
path_add MYPYPATH $iterm2_lib
